body
{
	background-repeat:no-repeat;
	color:white;
	background-size:cover;
	background-attachment:fixed;

}

.title
{
padding-top:40px;
padding-bottom:0x;
padding-right:0x;
padding-left:0px;
float:left;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.logo
{

padding-top:5px;
padding-left:0px;
padding-right:0px;
float:left;
}


.menutabs
{
display:block;
border:20px Solid #5A5858;
background-color:#5A5858;
border-radius:15px;
width:100px;

}

.menu
{

float:left;
padding-left:130px;
padding-top:20px;

}


.te
{
display:block;
color:green;

}

.menutabs:hover
{
border:20px Solid #424242;
background-color:#424242;
}


.left
{
padding-top:20px;
display:inline;
float:right;

}

.lefti
{
padding-top:25px;
display:inline;
float:right;

}
.leftii
{
padding-top:50px;
display:inline;
float:right;

}
.menutabtext
{
float:left;
padding-top:24px;
position:absolute;
padding-left:180px;
}


.menutabtext1
{
float:left;
padding-top:24px;
position:absolute;
padding-left:474px;
}

.menutabs1
{
display:block;
border:20px Solid #5A5858;
background-color:#5A5858;
border-radius:15px;
width:100px;

}

.menutabs1:hover
{
border:20px Solid #424242;
background-color:#424242;
}


.menu1
{
float:left;
padding-left:170px;
padding-top:20px;

}


.menutabtext2
{
float:left;
padding-top:24px;
position:absolute;
padding-left:761px;
}

.menutabtext3
{
float:left;
padding-top:24px;
position:absolute;
padding-left:999px;
}



.menutabtext4
{
float:left;
padding-top:24px;
position:absolute;
padding-left:1305px;
}

.home_deco1
{
display:block;
position:absolute;
padding-top:50px;
background-color:white;
border-radius:15px;

}

#mini:hover
{
border:13px solid green;
background-color:green;
}



.navig
{
border:3px Solid #5A5858;
background-color:#5A5858;
border-radius:10px;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
color:white;
padding-top:8px;
padding-bottom:8px;
padding-left:15px;
padding-right:15px;
text-decoration: none;
}

.navig:hover
{
border:3px Solid #424242;
background-color:#424242;
}
.product-box{
	flex-basis: 100%;
	cursor: pointer;
}

.col-lg-6 col-md-12 col-12{
	left: 8px;
}
.col{
 
	width: 100%;
	padding-left: 270px;
	padding-top: 1px;
	
  }
  .col2{
	display: block;
	margin-bottom: 15px;
  }
  .btn{
	background-color: #e06a0f;
	  border-color: #e06a0f;
	  color: #fff;
  }
  .btn2{
	display:block
  }

 .buy-btn{
	background-color: #e06a0f;
	border-color: #e06a0f;
	color: #fff;
 }
